<div class="container-fluid h-100 p-0 position-relative"
  [ngClass]="PopUpValue || chatinfovalue ? 'NoPointerevent' : 'Pointerevent'">
  <div class="container-fluid  h-100 p-0">
    <div class="h-100 overflow-visible">
      <!-- Profile -->
      <div class="profile d-flex bg-dark text-light justify-content-between">
        <div class="d-flex">
          <div class="d-flex">
            @if (img != null && img != "") {
            <img class="headerImage" [src]='"data:image/png;base64,"+ img' />
            }@else {
            <img class="heaaderImage" [src]="defaultimg" height="80px" width="80px" />
            }
          </div>
          <div class="d-flex align-self-center flex-column">
            <p class="m-0">{{nick}}</p>
            <div class="typing" *ngIf="isTyping">
              {{typingUser}} is typing<span class="dots">...</span>
            </div>
            <div class="ActiveUser" *ngIf="!isTyping">
              @for (m of membercount; track $index) {
              <span class="BlinkColor">
                <span class="text-uppercase"><span *ngIf="$index > 0">, </span>{{m === nick ? 'You' : m}}</span>
              </span>
              }
            </div>
          </div>
        </div>
        <div class="d-flex gap-2 me-3">
          <div class="d-flex align-items-center">
            <input type="text" *ngIf="isSearchOpen" [(ngModel)]="searchText" (input)="searchMessages()"
              placeholder="Search..."
              class="form-control form-control-sm me-1 shadow-none bg-secondary text-white border-0"
              style="width: 150px; border-radius: 15px;">

            <div class="p-2 align-self-center cursor-pointer" (click)="toggleSearch()">
              <i class="fa-solid fa-magnifying-glass" [class.text-warning]="isSearchOpen"></i>
            </div>
          </div>
          <div class="p-2 align-self-center Profilebadge" #ProfileBox>
            <i class="fa-solid  profile3dot" [ngClass]="HeaderMenuValue? 'fa-ellipsis' : 'fa-ellipsis-vertical'"
              (click)="HeaderMenu()"></i>
            <div class="ProfileBox" *ngIf="HeaderMenuValue">
              <div class="d-flex justify-content-center">
                @if (img != null && img != "") {
                <img class="img-thumbnail" [src]='"data:image/png;base64,"+ img' height="80px" width="80px" />
                }@else {
                <img class="img-thumbnail" [src]="defaultimg" height="80px" width="80px" />
                }
              </div>
              <div class="d-flex justify-content-between flex-column p-2">
                <table class="table table-bordered table-hover  border-warning ">
                  <tbody>
                    <tr>
                      <th>Name</th>
                      <td>{{nick}}</td>
                    </tr>
                    <tr>
                      <th>Email</th>
                      <td>{{user}}</td>
                    </tr>
                    <tr>
                      <th>Password</th>
                      <td class="passwordField">
                        <input [type]="isPasswordVisible ? 'text' : 'password'"
                          [value]="pwd" class="form-control" readonly disabled/>

                        <span class="toggleeye" (click)="isPasswordVisible = !isPasswordVisible">
                          <i class="fa-solid" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <th>GroupName</th>
                      <td>{{group}}</td>
                    </tr>
                    <tr>
                      <th>G-Member</th>
                      <td class="text-start">
                        <ol>
                          @for (m of membercount; track $index) {
                          <li>
                            <b>{{m === nick ? 'You' : m}}<br></b>
                          </li>
                          }
                        </ol>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-center mb-2 d-flex justify-content-around">
                <button class="btn justify-content-end leavebutton" (click)="SignOut()">
                  <i class="fa-solid fa-power-off"></i></button>
                <button class="btn justify-content-end leavebutton" (click)="leave()">
                  <i class="fa-solid fa-person-walking-arrow-right "></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ctbox" #chatBox (scroll)="onWindowScroll()">
        <!--~ old message -->
        <ng-container *ngFor="let msg of oldmessages; let i = index">

          <!-- center date -->
          <div class="centerdate-wrapper" *ngIf="isNewDay(msg, oldmessages[i-1])"
            [ngClass]="showScrollDate? 'dateShow' : 'dateHide'">
            <div class="centerdate">
              <p class="">{{ formatChatDate(msg.time) }}</p>
            </div>
          </div>

          <div [ngClass]="msg.user === nick ? 'msg-right' : 'msg-left'">
            <div class="message">
              <div class="ReactionMenu" [ngClass]="msg.user === nick ? 'reaction-right' : 'reaction-left'">
                <i class="fa-regular fa-face-smile" (click)="toggleReaction(msg.messageid)"></i>
                <div class="ReactOption" *ngIf="activeMessageId == msg.messageid"
                  [ngClass]="msg.user === nick ? 'reactionOption-right' : 'reactionOption-left'">
                  <ul class="list-unstyled m-0">
                    <li [ngClass]="msg.user === nick ? 'd-block' : 'd-none'"
                      (click)="DeleteMessage(msg.messageid, i, 'old')"><i class="fa-solid fa-trash text-danger"></i>
                      Remove For All</li>
                    <li
                      (click)="MessageInfo(msg.user, msg.text,msg.time, msg.audio, msg.image, msg.pdf, msg.reaction, msg.reactby, msg.messageid)">
                      <i class="fa-solid fa-circle-info text-warning"></i> info
                    </li>
                  </ul>
                </div>
              </div>

              <p class="nickname" *ngIf="nick == msg.user">You</p>
              <p class="nickname" *ngIf="nick != msg.user">{{msg.user}}</p>

              <div class="emoji-bar" *ngIf="activeMessageId == msg.messageid"
                [ngClass]="msg.user === nick ? 'emoji-right' : 'emoji-left'">
                <span *ngFor="let r of reactions" (click)="sendReaction(msg.messageid, r.icon, msg.text)"
                  class="emoji-item">
                  {{ r.icon }}
                </span>
              </div>

              <hr class="m-0" height="2px">
              <!--& PDF PREVIEW -->
              <div class="pdf-card" *ngIf="msg.pdf" title="{{msg.text}}">
                <div class="pdf-left">
                  <img src="/pdficon2.png" class="pdf-icon">
                </div>
                <div class="pdf-middle">
                  <!-- <div class="pdf-name">{{ msg.text }}</div> -->
                  <div class="pdf-info">
                    PDF • {{ msg.text || '—' }}
                  </div>
                </div>
                <!--& PDF DOWNLOAD -->
                <div class="pdf-right">
                  <div class="fa-2x">
                    <a class="link p-0 pt-2" *ngIf="msg.pdf" [href]="'data:application/pdf;base64,' + msg.pdf"
                      [attr.download]="msg.text" target="_blank" title="{{msg.text}}">
                      <i class="fa-regular fa-circle-down"></i>
                    </a>
                  </div>
                </div>
              </div>

              <!--& IMAGE PREVIEW -->
              <div class="ImagePreview">
                <img *ngIf="msg.image" [src]="'data:image/jpeg;base64,' + msg.image" class="img-fluid rounded mb-1"
                  style="max-width:200px" title="{{msg.image}}" />
                <!--& IMAGE DOWNLOAD -->
                <div class="DownloadImage">
                  <a *ngIf="msg.image" [href]="'data:image/jpeg;base64,' +msg.image" download target="_blank"
                    title="{{msg.text}}">
                    Download&nbsp;<i class="fa-solid fa-download"></i>
                  </a>
                </div>
              </div>

              <!--& AUDIO DOWNLOAD -->
              <div class="audio-bubble mt-2" *ngIf="msg.audio" title="{{ msg.text }}">
                <audio controls preload="metadata" loop>
                  <source [src]="'data:audio/mpeg;base64,' + msg.audio" type="audio/mpeg">
                </audio>
                <div class="audio-info audioname" *ngIf="msg.filesize">
                  <!-- <span class="audio-name">{{ msg.filesize}}</span> -->
                </div>
              </div>

              <p class="m-0 textmsg" [innerHTML]="msg.text | highlightText : searchText">{{msg.text| highlightText :
                searchText}}</p>
              <sub class="d-flex justify-content-end my-2 sendingtime">{{msg.time | date:'shortTime'}}</sub>
              <div class="msg-reaction-badge" *ngIf="msg.reaction" (click)="removeReaction(msg.messageid)">
                {{ msg.reaction }}<span class="ReactBy">{{msg.reactby}}</span>
              </div>
            </div>
          </div>
        </ng-container>


        <!--! ============================================== new message =====================================================-->

        <ng-cointainer *ngFor="let msg of messages; let i = index"
          [ngClass]="msg.user === nick ? 'msg-right' : 'msg-left'">
          <div class="message">

            <div class="ReactionMenu" [ngClass]="msg.user === nick ? 'reaction-right' : 'reaction-left'">
              <i class="fa-regular fa-face-smile" (click)="toggleReaction(msg.messageid)"></i>
              <div class="ReactOption" *ngIf="activeMessageId == msg.messageid"
                [ngClass]="msg.user === nick ? 'reactionOption-right' : 'reactionOption-left'">
                <ul class="list-unstyled m-0">
                  <li [ngClass]="msg.user === nick ? 'emoji-right' : 'emoji-left'"
                    (click)="DeleteMessage(msg.messageid, i, 'old')"><i class="fa-solid fa-trash text-danger"></i>
                    Remove</li>
                  <li>
                    <i class="fa-solid fa-circle-info text-warning"></i> info
                  </li>
                </ul>
              </div>
            </div>

            <p class="nickname">{{msg.user}}</p>

            <div class="emoji-bar" *ngIf="activeMessageId == msg.messageid"
              [ngClass]="msg.user === nick ? 'emoji-right' : 'emoji-left'">
              <span *ngFor="let r of reactions" (click)="sendReaction(msg.messageid, r.icon, msg.text)"
                class="emoji-item">
                {{ r.icon }}
              </span>
            </div>

            <hr class="m-0" height="2px">
            <!--& PDF PREVIEW -->
            <div class="pdf-card" *ngIf="msg.isPdf" title="{{msg.filename}}">
              <div class="pdf-left">
                <img src="/pdficon2.png" class="pdf-icon">
              </div>
              <div class="pdf-middle">
                <div class="pdf-name">{{ msg.fileName }}</div>
                <div class="pdf-info">
                  PDF • {{ msg.size || '—' }}
                </div>
              </div>
              <!--& PDF DOWNLOAD -->
              <div class="pdf-right">
                <div class="fa-2x">
                  <a class="link p-0 pt-2" *ngIf="msg.isPdf" [href]="'data:application/pdf;base64,' + msg.PdfUrl"
                    [attr.download]="msg.filename" target="_blank" title="{{msg.filename}}">
                    <i class="fa-regular fa-circle-down"></i>
                  </a>
                </div>
              </div>
            </div>
            <!--& IMAGE PREVIEW -->
            <div class="ImagePreview">
              <img *ngIf="msg.imageUrl" [src]="'data:image/jpeg;base64,' + msg.imageUrl" class="img-fluid rounded mb-1"
                style="max-width:200px" title="{{msg.imageUrl}}" />
              <!--& IMAGE DOWNLOAD -->
              <div class="DownloadImage">
                <a *ngIf="msg.imageUrl" [href]="'data:image/jpeg;base64,' +msg.imageUrl" download target="_blank"
                  title="{{msg.filename}}">
                  Download&nbsp;<i class="fa-solid fa-download"></i>
                </a>
              </div>
            </div>
            <!--& AUDIO DOWNLOAD -->
            <div class="audio-bubble mt-2" *ngIf="msg.isAudio" title="{{ msg.filename }}">
              <audio controls preload="metadata" loop>
                <source [src]="'data:audio/mpeg;base64,' + msg.AudioUrl" type="audio/mpeg">
              </audio>
              <div class="audio-info audioname" *ngIf="msg.size">
                <span class="audio-name">{{ msg.size}}</span>
              </div>
            </div>
            <div class="audio-bubble mt-2" *ngIf="msg.isRecord" title="{{ msg.filename }}">
              <audio controls preload="metadata">
                <source [src]="'data:audio/mpeg;base64,' + msg.RecordUrl" type="audio/mpeg">
              </audio>
              <div class="audio-info audioname" *ngIf="msg.size">
                <span class="audio-name">{{ msg.size}}</span>
              </div>
            </div>
            <!-- & Message-Chat -->
            <p class="m-0 textmsg">{{msg.text}}</p>
            <sub class="d-flex justify-content-end my-2 sendingtime">{{msg.time}}</sub>
            <div class="msg-reaction-badge" *ngIf="msg.reaction" (click)="removeReaction(msg.messageid)">
              {{ msg.reaction }}
            </div>

          </div>
          <!-- <div *ngIf="uploadProgress > 0" class="progress my-1">
            <div class="progress-bar" role="progressbar" [style.width.%]="uploadProgress">
              {{uploadProgress}}%
            </div>
          </div> -->
        </ng-cointainer>

      </div>
      <div class=" sendingbox m-auto">
        <div class="d-flex justify-content-between">
          <div id="uploadFileButton">
            <i class="fa-sharp fa-solid fa-plus addicon" (click)="ShowOptionMenu($event)"></i>
          </div>
          <div id="UploadOption" *ngIf="ShowOptionvalue" #optionBox>
            <ol id="Options">
              <input type="file" #imgfileunput style="display:none" (change)="onFileSelected($event)" />
              <input type="file" #pdffileinput accept="application/pdf" style="display:none"
                (change)="onPDFSelected($event)">
              <input type="file" #audiofileinput accept="Audio" style="display:none" (change)="onAudioSelect($event)" />
              <li (click)="openFilePicker()">
                <i class="fa-regular fa-images icon"></i>
                <span class="icontext">&nbsp;Images</span>
              </li>
              <li (click)="openPDFPicker()">
                <i class="fa-regular fa-file-pdf icon"></i>
                <span class="icontext">&nbsp;Document</span>
              </li>
              <li (click)="openAudioPicker()">
                <i class="fa-solid fa-headphones icon"></i>
                <span class="icontext">&nbsp;Audio</span>
              </li>
              <li>
                <i class="fas fa-newspaper icon"></i>
                <span class="icontext">&nbsp;----------</span>
              </li>
            </ol>
          </div>
          <div class="sendingBoxLine">
            <textarea class="form-control chatline" rows="1" [(ngModel)]="message" #msgbox
              (input)="autoGrow($event); typing()" (keydown.enter)="send()" placeholder="Type message"></textarea>
          </div>
          <div class="text-center align-content-center" style="width: 10%;">
            <div [ngClass]="recordingvalue ? 'd-block' : 'd-none'" class="Recording">
              Recording<span class="dots"></span>
            </div>
            <span class="btn mx-1 AudioRecord" (mousedown)="startRecording()" (mouseup)="stopRecording()"
              (mouseleave)="stopRecording()">
              <i class="fa-solid fa-microphone"></i></span>
            <span class="btn mx-1 rounded-pill border border-success text-light" (click)="send()"><i
                class="fa-solid fa-paper-plane text-success"></i> send</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="notification overflow-auto  align-self-center" [ngClass]="notificationvalue ? 'd-block' : 'd-none'">
  <div *ngFor="let ntf of notification" class="p-1">
    <p class="text-success m-0"><i class="fa-solid fa-bell text-danger"></i>{{ntf}}</p>
  </div>
</div>

<div class="welcomePopUp" *ngIf="PopUpValue">
  <div class="messageHeader">
    <h1><span>Welcome</span> {{nick}} !</h1>
  </div>
  <div class="messagebody">
    <!-- <i class="fa-solid fa-triangle-exclamation"></i> -->
    <h4> 🛡️ Application Rules & Features</h4>
    <ol>
      <li><span>🔐 End-to-End Encryption:</span> તમારી દરેક ચેટ અને ફાઇલ સંપૂર્ણપણે Encrypted<i
          class="fa-solid fa-lock"></i> છે. તમારા અને તમારા
        Reciever સિવાય અન્ય કોઈ (અમે પણ નહીં!) તમારા મેસેજ વાંચી શકતા નથી.</li>
      <li><span>📁 File Upload Limits:</span> તમે એક સમયે વધુમાં વધુ [તમારી લિમિટ, દા.ત. 15MB] સુધીની ફાઇલ અપલોડ કરી શકો
        છો. આ લિમિટ સિસ્ટમ માટે રાખવામાં આવી છે.</li>
      <li><span>🚫 Respectful Interaction:</span> ગ્રુપમાં અપશબ્દો કે વાંધાજનક સામગ્રી શેર કરવી સખત મનાઈ છે. શિષ્ટાચાર
        જાળવવો અનિવાર્ય છે.</li>
      <li><span>⚡ Supported Formats:</span> અમે Image, PDF, અને Audio Formate(.WAV, .MP3, .M4A) ને સપોર્ટ કરીએ છીએ.
        વિડિયો ફાઇલ્સ માટે ફાઇલ સાઇઝનું ખાસ ધ્યાન રાખવું.</li>
      <li><span>🕒 Data Privacy:</span> તમારો ડેટા સેફ છે. જો તમે ચેટ હિસ્ટ્રી ક્લિયર કરશો, તો તે સર્વર પરથી પણ કાયમ
        માટે દૂર થઈ જશે.
      </li>
    </ol>
  </div>
  <div class="closebutton">
    <input type="button" class="btn btn-danger" value="I Understand" (click)="popup()" />
  </div>
</div>

<div class="MessageInfo" *ngIf="chatinfovalue">
  <h3>Message Details</h3>
  <div *ngFor="let info of messageInfoArray">
    <p><strong>MessageID:</strong> {{ info.messageid }}</p>
    <p><strong>UserName:</strong> {{ info.user }}</p>
    <p><strong>Date:</strong> {{ info.time | date:'dd/MM/yyyy'}}</p>
    <p><strong>Time:</strong> {{ info.time | date:'hh:mm:ss a' }}</p>

    <p><strong>Message[TEXT]:</strong> {{ info.text }}</p>

    <div class="pdf-card" *ngIf="info.pdf" title="{{info.pdf}}">
      <div class="pdf-left">
        <img src="/pdficon2.png" class="pdf-icon">
      </div>
      <div class="pdf-middle">
        <div class="pdf-info text-light">
          PDF • {{ info.text}}
        </div>
      </div>
    </div>

    <p *ngIf="info.image"><strong>Image Name:</strong></p>
    <img *ngIf="info.image" [src]="'data:image/jpeg;base64,' + info.image" alt="" srcset="" height="200" width="200">

    <p *ngIf="info.audio"><strong>Audio Name:</strong> {{ info.text }}</p>
    <div class="audio-bubble mt-2" *ngIf="info.audio" title="{{ info.text }}">
      <audio controls preload="metadata" loop>
        <source [src]="'data:audio/mpeg;base64,' + info.audio" type="audio/mpeg">
      </audio>
    </div>
    <hr>
    <div *ngIf="info.reactby || info.reaction">
      <h5>Reactions:</h5>
      <p>{{info.reactby}} - {{info.reaction}}</p>
      <ul>
        <li *ngFor="let person of info.reactby">
          <i class="fa-solid fa-user"></i> {{ person }}
        </li>
      </ul>
    </div>
  </div>
  <input type="button" value="Close" (click)="closeMessageInfo()">
</div>

<div *ngIf="service.isLoading | async" class="loader-overlay">
  <div class="spinner-border text-warning mb-2" role="status"></div>
  <h5 class="text-white dots">Loading Messages</h5>
</div>